div.helveti-list {
  //width: 200px;
  margin-left: 1cm;
}

div.helveti-list h2 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

div.helveti-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div.helveti-list li {
  font: 200 14px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
  line-height: 30px;
}

div.helveti-list li:last-child {
  border: none;
}

div.helveti-list li a {
  text-decoration: none;
  color: #000;
  display: block;
  //width: 200px;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

div.helveti-list li a:hover {
  font-size: 20px;
  background: #f6f6f6;
}